.jumbotron {
  background: rgba(21, 79, 41);
  color: black;
  padding-top: 90px;
}

footer {
  padding: 10px 10px 10px 10px;
   background: rgba(0, 128, 0, 0.3);
   margin-bottom: 0px;
   margin-top: 10px;
}
.card-tip {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}
.btn-go {
  width: 100%;
}
.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 5px;
}
