.jumbotron {
  background: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 10px 10px;
  background: rgba(0, 128, 0, 0.3);
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-tip {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-go {
  width: 100%;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 5px;
}
