$yellow: #FFFFFF;

@mixin margins($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
  background: $yellow;
  color: black;
  @include margins(50px, 0px);
}

footer {
  padding: 10px 10px 10px 10px;
   background: rgba(0, 128, 0, 0.3);
   @include margins(10px, 0px);
}
.card-tip {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  @include margins(10px, 0px);
}
.btn-go {
  width: 100%;
}
.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 5px;
}
